
body {
  height: 80vh;
  max-width: 800px;
  max-height: 800px;
}

h1 {
font-weight: bold;
}

h1:after {
  content: "beta";
  color: #ffa45b;
  font-size: 0.8rem;
}

#modale, #own, #validation, #load, #revert, #result {
  display : none;
}

#modale {
  left: 0px;
  top: 0px;
}

#modale__content {
  position: relative;
  margin: auto;
  top: 10%;
  max-width: 500px;
}

#list__container {
  height: 200px;
  overflow-y: scroll;
}

